{% extends "::layout.html.twig" %}

{% block rubrique %} : Modifier ou supprimer le niveau de danse {{niveau.libelleNiveauDanse}} {% endblock %}

{% block body %}
	
		<div class="row">
			<div class="col-md-12">
				<h1>Modifier/Supprimer le niveau de danse {{niveau.libelleNiveauDanse}} </h1>
			</div>
		</div>		

		<!-- Suppression du niveau -->
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<a id="btnSuppr" href="#" class="btn btn-block btn-danger"> Supprimer le niveau </a>
				
				<div id="confirSuppr" hidden>
					<p>
						Etes-vous certain de vouloir supprimer ce niveau ?
					</p>

					<form action="{{ path('niveau_editsuppr', {'libelleniveau': niveau.libelleNiveauDanse}) }}" method="POST" id="formSuppr">	
						<a id="btnAnnulerSuppr" href="#" class="btn btn-default">
							Ne pas supprimer
						</a>
						{# Ici j'ai écrit le bouton de soumission à la main #}	
						<input type="submit" value="Supprimer" class="btn btn-danger" />
						{# Ceci va générer le champ CSRF #}
						{{ form_rest(formSuppr) }}
					  </form>
				</div>
				
			</div>
		</div>
	
	
		<!-- Modification du niveau -->
		<div class="row">
			<div class="col-md-offset-2 col-md-8 bordure">
				<h3>Modification des informations du niveau </h3>
				{% include "SaisonsBundle:formAddEdit_NiveauDanse.html.twig" %}
			</div>
		</div>
	
	
		<!-- La fiche du niveau -->
		<div class="row" style="margin-top:2em;">
			
			<div id="visualiser_fiche" class="centrer col-md-offset-2 col-md-8">
				<a class="btn btn-default btn-block" href="#">Visualiser la fiche du niveau</a>
			</div>
			
			
			<div id="fiche" class="col-md-offset-2 col-md-8 ficheActivite" hidden>
				<h1 class="titreActiviteFiche">{{niveau.libelleNiveauDanse}}</h1>
			</div>
		</div>	
		
		
{% endblock %}
