{% form_theme form 'bootstrap_3_layout.html.twig' %}


{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
				{# Les erreurs générales du formulaire. #}
    					{{ form_errors(form) }}
    					<div class="form-group">
    						{# Génération du label. #}
					        {{ form_label(form.username, "Login", {'label_attr': {'class': 'col-lg-3 control-label'} }) }}

					        {# Affichage des erreurs pour ce champ précis. #}
					        {{ form_errors(form.username) }}
					        {# {{ user_current.nomPersonne }} #}

					        <div class="col-lg-5">
					        	{# Génération de l'input. #}
					        	{{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
					        </div>
					    </div>


					    <div class="form-group">
    						{# Génération du label. #}
					        {{ form_label(form.password, "Mot de passe", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}

					        {# Affichage des erreurs pour ce champ précis. #}
					        {{ form_errors(form.password) }}

					        <div class="col-lg-5">
					        	{# Génération de l'input. #}
					        	{{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
					        </div>
					    </div>


					    <div class="form-group">
    						{# Génération du label. #}
					        {{ form_label(form.nomPersonne, "Nom", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}

					        {# Affichage des erreurs pour ce champ précis. #}
					        {{ form_errors(form.nomPersonne) }}

					        <div class="col-lg-5">
					        	{# Génération de l'input. #}
					        	{{ form_widget(form.nomPersonne, {'attr': {'class': 'form-control'}}) }}
					        </div>
					    </div>



					    <div class="form-group">
    						{# Génération du label. #}
					        {{ form_label(form.prenomPersonne, "Prénom", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}

					        {# Affichage des erreurs pour ce champ précis. #}
					        {{ form_errors(form.prenomPersonne) }}

					        <div class="col-lg-5">
					        	{# Génération de l'input. #}
					        	{{ form_widget(form.prenomPersonne, {'attr': {'class': 'form-control'}}) }}
					        </div>
					    </div>


					    <div class="form-group">
    						{# Génération du label. #}
					        {{ form_label(form.adressePersonne, "Adresse", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}

					        {# Affichage des erreurs pour ce champ précis. #}
					        {{ form_errors(form.adressePersonne) }}

					        <div class="col-lg-5">
					        	{# Génération de l'input. #}
					        	{{ form_widget(form.adressePersonne, {'attr': {'class': 'form-control'}}) }}
					        </div>
					    </div>


					    <div class="form-group">
    						{# Génération du label. #}
					        {{ form_label(form.dateNaissancePersonne, "Date de naissance", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}

					        {# Affichage des erreurs pour ce champ précis. #}
					        {{ form_errors(form.dateNaissancePersonne) }}

					        <div class="col-lg-5">
					        	{# Génération de l'input. #}
					        	{{ form_widget(form.dateNaissancePersonne) }}
					        </div>
					    </div>


					    <div class="form-group">
    						{# Génération du label. #}
					        {{ form_label(form.telephonePersonne, "Téléphone", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}

					        {# Affichage des erreurs pour ce champ précis. #}
					        {{ form_errors(form.telephonePersonne) }}

					        <div class="col-lg-5">
					        	{# Génération de l'input. #}
					        	{{ form_widget(form.telephonePersonne, {'attr': {'class': 'form-control'}}) }}
					        </div>
					    </div>


					    <div class="form-group">
    						{# Génération du label. #}
					        {{ form_label(form.email, "Email", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}

					        {# Affichage des erreurs pour ce champ précis. #}
					        {{ form_errors(form.email) }}

					        <div class="col-lg-5">
					        	{# Génération de l'input. #}
					        	{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
					        </div>
					    </div>

					    <br>
					    <div class="form-group">
    						{# Génération du label. #}
					        {{ form_label(form.Type, "Type de professeur", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}

					        {# Affichage des erreurs pour ce champ précis. #}
					        {{ form_errors(form.Type) }}

					        <div class="col-lg-5">
					        	{# Génération de l'input. #}
					        	{{ form_widget(form.Type, {'attr': {'class': 'form-control'}}) }}
					        </div>
					    </div>

					    {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
  						{{ form_widget(form.Valider, {'attr': {'class': 'btn btn-block btn-success btn_ajout_professeur'}}) }}



					{# Fermeture de la balise <form> du formulaire HTML #}
  					{{ form_end(form) }}    